{% extends "website/base.html" %}

{% block title %}Tweede Kamerleden {{ block.super }}{% endblock %}


{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div align="center"><h3>Kamerleden</h3></div>
  </div>
</div>

<div class="row">
{% for member in members %}
  <div class="col-sm-3 party-member-column" align="center">
    <div class="well">

      <p>
        <h5><a href="{% url 'person' member.person.slug %}">{{ member.person.fullname }}</a></h5>
        <small><a href="{% url 'party' member.party.slug %}">{{ member.party.name_short }}</a> <br/>
        {% if member.party.wikimedia_logo_url %}
          <img class='party-logo-small' src="{{ member.party.wikimedia_logo_url }}"> <br/>
        {% endif %}
          <a href="/api/parliamentmember/{{ member.id }}/">API</a>
        {% if member.person.wikidata_id %}
          | <a href="https://www.wikidata.org/wiki/{{ member.person.wikidata_id }}">wikidata</a>
        {% endif %}
        {% if member.person.wikimedia_image_url %}
          | <a href="{{ member.person.wikimedia_image_url }}">image</a>
        {% endif %}
        </small>
      </p>

    </div>
  </div>

  {% if forloop.counter|divisibleby:4 %}
  <div class="clearfix"></div>
  {% endif %}
{% endfor %}
</div>

<hr/>

<div class="row">
  <div class="col-lg-12">
    <div align="center"><h5><a href="/api/parliamentmember/">Kamerleden API</a></h5></div>
  </div>
</div>

<hr/>

{% endblock %}
