{% extends "website/base.html" %}

{% block title %}Politieke Partijen - Tweede Kamer {{ block.super }}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div align="center"><h3>Politieke Partijen</h3></div>
  </div>
</div>

<div class="row">
{% for party in parties %}
  <div class="col-sm-3" align="center">
    <div class="well">
      <h4><a href="{% url 'party' party.slug %}">{{ party.name_short }}</a></h4>
      <h5>{{ party.parliament_members_current|length }} zetels</h5>
      <p>
        <small>{{ party.name }}</small>
      </p>
      <p>
      {% include "parliament/items/party_logo.html" %}
      </p>
      <p><small>
      {% if party.founded %}
        {{ party.founded }}<br/>
      {% endif %}
      {% if party.wikipedia_url %}
        <a href="{{ party.wikipedia_url }}">wikipedia</a> |
      {% endif %}
      {% if party.official_website_url %}
        <a href="{{ party.official_website_url }}" target="_blank">website</a> |
      {% endif %}
      {% if party.wikidata_id %}
      <a href="https://www.wikidata.org/wiki/{{ party.wikidata_id }}" target="_blank">wikidata</a>
      {% endif %}
      </small></p>
    </div>
  </div>

  {% if forloop.counter|divisibleby:4 %}
  <div class="clearfix"></div>
  {% endif %}
{% endfor %}
</div>

<hr/>

{% endblock %}
