{% extends "website/base.html" %}

{% block title %}Politieke Partijen - Tweede Kamer {{ block.super }}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div align="center"><h3>Politieke Partijen</h3></div>
  </div>
</div>

<div class="row">
{% for party in parties %}
  <div class="col-sm-3" align="center">
    <div class="panel panel-default">

      <div class="panel-heading panel-small">
        <h4><a href="{% url 'party' party.slug %}">{{ party.name_short }}</a></h4>
      </div>

      <table class="table" >
        <tr align="center">
          <td><h6 class="small">{{ party.name }}</h6></td>
        </tr>
        {% if party.current_parliament_seats %}
        <tr align="center">
          <td><h6>{{ party.current_parliament_seats }} zetel{{ party.current_parliament_seats|pluralize }}</h6></td>
        </tr>
        {% endif %}
        <tr align="center">
          <td>{% include "parliament/items/party_logo.html" %}</td>
        </tr>
        <tr align="center">
          <td><h6 class="small">
          {% if party.wikipedia_url %}
            <a href="{{ party.wikipedia_url }}">wikipedia</a> |
          {% endif %}
          {% if party.official_website_url %}
            <a href="{{ party.official_website_url }}" target="_blank">website</a> |
          {% endif %}
          {% if party.wikidata_id %}
          <a href="https://www.wikidata.org/wiki/{{ party.wikidata_id }}" target="_blank">wikidata</a>
          {% endif %}</h6>
          </td>
        </tr>
      </table>

    </div>
  </div>

  {% if forloop.counter|divisibleby:4 %}
  <div class="clearfix"></div>
  {% endif %}
{% endfor %}
</div>

{% endblock %}
