{% extends "website/base.html" %}

{% block title %}openkamer - De Tweede Kamer inzichtelijk{% endblock %}

{% block content %}

<div class="row" align="center">
  <h3>Colofon</h3>
</div>

<div class="row">

  <div class="col-sm-8 - col-sm-offset-2" align="left">
    <p>Openkamer geeft inzicht in het handelen van de Tweede Kamer.</p>
    <p>Openkamer is nog in ontwikkeling (beta) en bevat nog bugs en mogelijk foutieve informatie.</p>
    <p>Openkamer combineert gegevens uit externe bronnen (<a href="https://www.tweedekamer.nl" target="_blank">tweedekamer.nl</a>, <a href="https://www.wikidata.org" target="_blank">wikidata.org</a>, <a href="https://www.officielebekendmakingen.nl/" target="_blank">overheid.nl</a>, etc) en geeft deze overzichtelijk weer.</p>
    <p>Openkamer is onafhankelijk, niet commercieel, reclamevrij en kosteloos toegankelijk voor iedereen.</p>
    <p>
      Openkamer is vrije software en maakt uitsluitend gebruik van vrije software.
      Openkamer software en data is volledig afsplitsbaar (forkbaar).
    </p>
    <p></p>
  </div>

</div>

{% endblock %}