{% extends "website/base.html" %}

{% block title %}Colofon {{ block.super }}{% endblock %}

{% block content %}

<div class="row text-center">
  <h3>Colofon</h3>
</div>

<div class="row">

  <div class="col-sm-8 col-sm-offset-2 text-left">
    <p>OpenKamer geeft inzicht in het handelen van de Tweede Kamer. </p>
    <p>OpenKamer is onafhankelijk, niet commercieel en opent de kamer voor iedereen.</p>
    <p>OpenKamer is vrije software (open source) en maakt uitsluitend gebruik van vrije software.</p>

    <h4>Data</h4>
    <p>OpenKamer maakt gebruik van de volgende open datasets:</p>
    <ul>
      <li>De OData API van het <a href="https://opendata.tweedekamer.nl/" target="_blank">Open Data Portaal</a> van de Tweede Kamer</li>
      <li><a href="https://www.wikidata.org" target="_blank">wikidata.org</a></li>
      <li><a href="https://www.officielebekendmakingen.nl/" target="_blank">overheid.nl</a></li>
    </ul>

    <h4>Developers</h4>
    <ul>
      <li>Source code en documentatie: <a href="https://github.com/openkamer/openkamer" target="_blank">https://github.com/openkamer/openkamer</a></li>
      <li>Python package voor de Tweede Kamer API (Open Data Portaal): <a href="https://github.com/openkamer/tkapi" target="_blank">tkapi</a></li>
    </ul>

  </div>

</div>

{% endblock %}
