{% extends "website/base.html" %}

{% block title %}Colofon {{ block.super }}{% endblock %}

{% block content %}

<div class="row" align="center">
  <h3>Colofon</h3>
</div>

<div class="row">

  <div class="col-sm-8 - col-sm-offset-2" align="left">
    <p>Open Kamer geeft inzicht in het handelen van de Tweede Kamer. </p>
    <p>Open Kamer is onafhankelijk en opent de kamer voor iedereen.</p>
    <p>Open Kamer combineert gegevens uit externe bronnen, waaronder <a href="https://www.tweedekamer.nl" target="_blank">tweedekamer.nl</a>, <a href="https://www.wikidata.org" target="_blank">wikidata.org</a> en <a href="https://www.officielebekendmakingen.nl/" target="_blank">overheid.nl</a>, en geeft deze overzichtelijk weer.</p>
    <p>Open Kamer is vrije software en maakt uitsluitend gebruik van vrije software.</p>
    <p></p>
  </div>

</div>

{% endblock %}