<!DOCTYPE html>

{% load staticfiles %}
{% load bootstrap3 %}

<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}| Open Kamer{% endblock %}</title>

  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'favicons/favicon-32x32.png' %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static 'favicons/favicon-16x16.png' %}" sizes="16x16">
  <link rel="manifest" href="{% static 'favicons/manifest.json' %}">
  <link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
  <link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}">
  <meta name="msapplication-config" content="{% static 'favicons/browserconfig.xml' %}">
  <meta name="theme-color" content="#ffffff">

  {% block headcontent %}{% endblock %}

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}

  <link rel="stylesheet" href="{% static 'css/openkamer-1.0b4.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'fonts/font-awesome-4.6.3/css/font-awesome.min.css' %}" type="text/css">
  <script src="{% bootstrap_jquery_url %}" type="text/javascript"></script>

  {% bootstrap_javascript %}

  {% block headcontent_end %}{% endblock %}

  {% if piwik_url %}
  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.openkamer.org"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="{{ piwik_url }}/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', {{ piwik_site_id }}]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="{{ piwik_url }}/piwik.php?idsite={{ piwik_site_id }}" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
  {% endif %}

</head>

<body>

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><b>Open Kamer</b><sup class="text-danger">beta</sup></a>
      </div>

      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">

          <li><a href="{% url 'wetsvoorstellen' %}">Wetsvoorstellen</a></li>

          <li><a href="{% url 'votings' %}">Stemmingen</a></li>

          <li><a href="{% url 'stats' %}">Statistieken</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Overig <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <!--<li><a href="/agendas/">Agenda's</a></li>-->
              <li><a href="{% url 'besluitenlijsten' %}">Besluitenlijsten</a></li>
              <li><a href="{% url 'government-current' %}">Kabinet</a></li>
              <li><a href="{% url 'parliament-members' %}">Kamerleden</a></li>
              <li><a href="{% url 'parties' %}">Partijen</a></li>
            </ul>
          </li>

        </ul>

      </div>

    </div>

  </div>

  <script type="text/javascript">
  $.ajaxSetup({
    data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
  });
  </script>


  <div class="container">

      {% block content %}Empty page{% endblock %}

  </div>

  <footer id="base-footer" class="footer">
    <hr/>
    <div class="row" align="center">
      <div class="col-sm-1 col-sm-offset-4">
        <h6><a href="{% url 'about' %}">Colofon</a></h6>
      </div>
      <div class="col-sm-1">
        <h6><a href="https://github.com/openkamer/openkamer" target="_blank">GitHub</a></h6>
      </div>
      <div class="col-sm-1">
        <h6><a href="https://twitter.com/openkamer" target="_blank">Twitter</a></h6>
      </div>
      <div class="col-sm-1">
        <h6><a href="{% url 'contact' %}" target="_blank">Contact</a></h6>
      </div>
      <div class="col-sm-1">
        <h6>v{{ openkamer_version }}</h6>
      </div>
    </div>
  </footer>

</body>

</html>
