<!DOCTYPE html>

{% load staticfiles %}
{% load bootstrap3 %}

<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}| openkamer{% endblock %}</title>

  {% block headcontent %}{% endblock %}

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}

  <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'fonts/font-awesome-4.6.3/css/font-awesome.min.css' %}" type="text/css">
  <script src="{% bootstrap_jquery_url %}" type="text/javascript"></script>

  {% bootstrap_javascript %}

  {% block headcontent_end %}{% endblock %}

  {% if piwik_url %}
  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.openkamer.org"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="{{ piwik_url }}/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', {{ piwik_site_id }}]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="{{ piwik_url }}/piwik.php?idsite={{ piwik_site_id }}" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
  {% endif %}

</head>

<body>

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><b>openkamer</b><sup class="text-danger">alpha</sup></a>
      </div>

      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">

          <li><a href="{% url 'wetsvoorstellen' %}">Wetsvoorstellen</a></li>

          <li><a href="{% url 'votings' %}">Stemmingen</a></li>


          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Overig <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/agendas/">Agenda's</a></li>
              <li><a href="{% url 'besluitenlijsten' %}">Besluiten</a></li>
              <li><a href="{% url 'government-current' %}">Kabinet</a></li>
              <li><a href="{% url 'parliament-members' %}">Kamerleden</a></li>
              <li><a href="{% url 'parties' %}">Partijen</a></li>
            </ul>
          </li>


        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/">About</a></li>
              <li><a href="https://github.com/openkamer/openkamer" target="_blank">Code</a></li>
              {% if user.is_staff %}<li><a href="/admin" target="_blank">Admin</a></li>{% endif %}
            </ul>
          </li>
        </ul>
      </div>

    </div>

  </div>

  <script type="text/javascript">
  $.ajaxSetup({
    data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
  });
  </script>

  <div class="container">

    {% block content %}Empty page{% endblock %}

  </div>


</body>

</html>
