{% extends "website/base.html" %}

{% load static %}

{% block title %}CSV Exports - {{ block.super }}{% endblock %}

{% block content %}

<div class="row" align="center">
  <h3>CSV Exports</h3>
</div>

<hr/>

<table class="table table-striped">
  {% for file in files %}
  <tr>
    <td><a href="{% static 'csv/' %}{{ file.file }}">{{ file.file }}</a></td>
    <td><span>{{ file.datetime_created|date:"Y-m-d H:i" }}</span></td>
    <td><span>{{ file.size|floatformat:2 }} MB</span></td>
  </tr>
  {% endfor %}
</table>

</div>

{% endblock %}
