{% extends "stats/base.html" %}

{% load l10n %}
{% load bootstrap3 %}
{% load bootstrap_pagination %}

{% block title %}Kamervragen Statistieken - {{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}

<script src="//cdn.plot.ly/plotly-latest.min.js" type="text/javascript"></script>

<div class="row">
  <div class="col-lg-12" align="center">
    <h3>Kamervragen Statistieken</h3>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-lg-12" align="center">
    <h4>Kamervragen per week</h4>
    {{ plot_kamervraag_vs_time_html }}
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-lg-12" align="center">
    <h4>Kamervraag antwoordtijd</h4>
    {{ plot_kamervraag_reply_times_html }}
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-lg-12" align="center">
    <h4>Antwoordtijd door de jaren heen </h4>
    {{ plot_kamervraag_reply_times_contour_html }}
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-lg-12" align="center">
    <h4>Antwoordtijd per politieke partij</h4>
    <h5 class="text-info small">Klik op de legenda items om deze te verbergen. Dubbelklik om de rest te verbergen.</h5>
    {{ plot_kamervraag_reply_times_per_party_html }}
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-lg-12" align="center">
    <h4>Antwoordtijd per ministerie</h4>
    <h5 class="text-info small">Klik op de legenda items om deze te verbergen. Dubbelklik om de rest te verbergen.</h5>
    {{ plot_kamervraag_reply_times_per_ministry_html }}
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-lg-12" align="center">
    <h4>Antwoordtijd per ministerie en bewindspersoon</h4>
    <h5 class="text-info small">Klik op de legenda items om deze te verbergen. Dubbelklik om de rest te verbergen.</h5>
    {{ plot_kamervraag_reply_times_per_ministry_position_html }}
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-lg-12" align="center">
    <h4>Antwoordtijd voor de verschillende bewindslieden</h4>
    {{ plot_kamervraag_reply_times_per_position_html }}
  </div>
</div>

{% endblock %}