{% extends "stats/base.html" %}

{% load l10n %}
{% load bootstrap4 %}
{% load bootstrap_pagination %}

{% block title %}Kamervragen per Week - {{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}

<script src="//cdn.plot.ly/plotly-latest.min.js" type="text/javascript"></script>

<div class="row">
  <div class="col-lg-12" align="center">
    <h3>Kamervragen per Week</h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-12" align="center">
    {{ plot_html }}
  </div>
</div>

{% endblock %}