{% extends "website/base.html" %}

{% load openkamer %}

{% block title %}Personen Check {{ block.super }}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div align="center"><h3>Personen Check</h3></div>
  </div>
</div>

<div class="row" align="center">
  <div class="col-lg-12">
    <h4>Personen met dezelfde achternaam ({{ persons_same_surname|length }})</h4>
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th>naam</th>
          <th>voornaam</th>
          <th>achternaam</th>
          <th>initialen</th>
          <th>slug</th>
          <th>documenten</th>
        </tr>
      </thead>
      <tbody>
      {% for person in persons_same_surname %}
        <tr>
          <td>{{ person.fullname }}</td>
          <td>{{ person.forename }}</td>
          <td>{{ person.surname }}</td>
          <td>{{ person.initials }}</td>
          <td>{{ person.slug }}</td>
          {% get_documents_for_person person as documents %}
          <td><a href="{% url 'person-documents' person.id %}">{{ documents|length }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row" align="center">
  <div class="col-lg-12">
    <h4>Personen met alleen een achternaam ({{ persons_surname_only|length }})</h4>
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th>achternaam</th>
          <th>slug</th>
          <th>documenten</th>
        </tr>
      </thead>
      <tbody>
      {% for person in persons_surname_only %}
        <tr>
          <td>{{ person.surname }}</td>
          <td>{{ person.slug }}</td>
          {% get_documents_for_person person as documents %}
          <td><a href="{% url 'person-documents' person.id %}">{{ documents|length }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock %}
