[run]
source = website, wikidata, document, parliament, person, scraper

[report]
omit =
    */migrations/*
    website/local_settings_example.py
    website/local_settings.py
    website/wsgi.py
    apps.py
    