[run]
source = website, wikidata, document, parliament, government, person, scraper, stats

[report]
omit =
    */migrations/*
    website/local_settings_example.py
    website/local_settings.py
    website/wsgi.py
    website/cron.py
    website/management/commands/*.py
    person/management/commands/*.py
    */apps.py
    parliament/check.py
