[run]
source = website, openkamer, wikidata, document, parliament, government, person, scraper, stats, oktwitter

[report]
omit =
    */migrations/*
    website/local_settings_example.py
    website/local_settings.py
    website/wsgi.py
    */cron.py
    */management/commands/*.py
    */apps.py
    parliament/check.py
