requests==2.23.0
django==2.2.20
dateparser==0.7.4
django-autocomplete-light==3.5.1
django-bootstrap-pagination==1.7.1
django-bootstrap3==12.1.0
django-cron==0.5.1
django-dbbackup==3.3.0
django-filter==2.2.0
django-haystack==2.8.1
djangorestframework==3.11.0
fasteners==0.15
lxml==4.5.0
plotly==4.3.0
psycopg2-binary==2.8.5
pysolr==3.8.1
python-twitter==3.4.2
scipy==1.4.1
unidecode==1.1.1
# tkapi==0.9.6
-e git+https://github.com/openkamer/tkapi.git#egg=907b98cc
django-debug-toolbar
