requests==2.23.0
django==2.2.27
dateparser==0.7.4
django-autocomplete-light==3.5.1
django-bootstrap-pagination==1.7.1
django-bootstrap3==12.1.0
django-cron==0.5.1
django-dbbackup==3.3.0
django-filter==2.4.0
django-haystack==2.8.1
djangorestframework==3.11.2
fasteners==0.15
lxml==4.9.1
plotly==4.3.0
psycopg2-binary==2.8.5
pysolr==3.8.1
python-twitter==3.4.2
numpy==1.17.2
unidecode==1.1.1
# tkapi==0.9.6
-e git+https://github.com/openkamer/tkapi.git@907b98cc#egg=tkapi
django-debug-toolbar
