{% extends "website/base.html" %}

{% block title %}{{ government.name }} ({{ government.date_formed|date:"Y" }}-{% if government.date_dissolved %}{{ government.date_dissolved|date:"Y" }}{% else %}heden{% endif %}) - Ministers, Staatssecretarissen en Ministeries {{ block.super }}{% endblock %}

{% load openkamer %}

{% block content %}

<div class="subnav subnav-default subnav-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      {% for gov in governments %}
      {% if gov == government %}
      <li class="active">
      {% else %}
      <li>
      {% endif %}
        <a href="{% url 'government' gov.slug %}">{{ gov.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div align="center"><h3>{{ government.name }}</h3></div>
    <div align="center"><h4>{{ government.date_formed|date:"j F Y" }} - {% if government.date_dissolved %} {{ government.date_dissolved|date:"j F Y" }} {% else %} heden {% endif %}</h4></div>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-lg-12">
    <div align="center"><h4>Minister-president: {% if government.prime_minister %}<a href="{% url 'person' government.prime_minister.person.slug %}">{{ government.prime_minister.person.fullname }}</a>{% endif %}</h4></div>
    <div align="center">
      <h5>Viceminister-president:
      {% for deputy_prime_minister in government.deputy_prime_ministers %}
        <a href="{% url 'person' deputy_prime_minister.person.slug %}">
          {{ deputy_prime_minister.person.fullname }}{% if not forloop.last %},{% endif %}
        </a>
      {% endfor %}
      </h5>
    </div>
  </div>
</div>

<hr/>

<div class="row">
{% for ministry in government.ministries %}
  <div class="col-sm-6 col-md-6 col-lg-4" align="center">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h5>{{ ministry.name }}</h5>
      </div>

      <div class="panel-body">
      {% for position in ministry.positions %}
        {% for member in position.members_latest %}
          {% get_current_party member.person.id as party %}
          {{ position }}: <a href="{% url 'person' member.person.slug %}">{{ member.person.fullname }}</a>
          {% if party %}(<a href="{% url 'party' party.slug %}">{{ party.name_short }}</a>){% endif %}
          <br/>
        {% endfor %}
      {% endfor %}
      </div>

      {% if ministry.has_members_replaced %}
      <div class="panel-footer">
        <small>
        {% for position in ministry.positions %}
          {% if position.members_replaced %} <b>{{ position }}</b><br/> {% endif %}
          {% for member in position.members_replaced %}
            {% get_current_party member.person.id as party %}
            <a href="{% url 'person' member.person.slug %}">{{ member.person.fullname }}</a>
            {% if party %}(<a href="{% url 'party' party.slug %}">{{ party.name_short }}</a>){% endif %}
            ({{ member.start_date|date:"j b Y" }} - {{ member.end_date|date:"j b Y" }})
            <br/>
          {% endfor %}
        {% endfor %}
        </small>
      </div>
      {% endif %}

    </div>
  </div>

  {% if forloop.counter|divisibleby:3 %}
  <div class="hidden-sm hidden-md clearfix"></div>
  {% endif %}

  {% if forloop.counter|divisibleby:2 %}
  <div class="hidden-lg clearfix"></div>
  {% endif %}

{% endfor %}

  {% if government.ministers_without_portfolio_current.all %}
  <div class="col-sm-6 col-md-6 col-lg-4" align="center">
    <div class="well">

      <h4>ministers zonder portefeuille <a href="https://nl.wikipedia.org/wiki/Minister_zonder_portefeuille" target="_blank" title="In Nederland is een minister zonder portefeuille verantwoordelijk voor een bepaald beleidsterrein, maar heeft niet de leiding over een departement. Ministers zonder portefeuille hebben, anders dan staatssecretarissen, zitting in de ministerraad en kunnen dus ook meestemmen over alle beslissingen."><span class="glyphicon glyphicon-info-sign"></span></a></h4>

      {% for minister in government.ministers_without_portfolio_current %}
        {{ minister.position.extra_info }}: <a href="{% url 'person' minister.person.slug %}">{{ minister.person.fullname }}</a>
        {% get_current_party minister.person.id as party %}
        {% if party %}(<a href="{% url 'party' party.slug %}">{{ party.name_short }}</a>){% endif %}
        {% if minister.end_date %}
        ({{ minister.start_date|date:"j b Y" }} - {{ minister.end_date|date:"j b Y" }})
        {% endif %}
        <br/>
      {% endfor %}

    </div>
  </div>
  {% endif %}

</div>


{% endblock %}
