{% extends "website/base.html" %}

{% load static %}
{% load openkamer %}

{% block title %}{{ person.fullname }} {{ block.super }}{% endblock %}

{% block headcontent %}
  <link rel="stylesheet" href="/static/css/timeline-1.1.css"> <!-- Resource style -->
  <script src="{% static 'js/modernizr.min.js' %}"></script> <!-- Modernizr -->
{% endblock %}

{% block headcontent_end %}
  <script src="{% static 'js/jquery.jscroll.min.js' %}"></script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-12" align="center">
    <h3>{{ person.fullname }}</h3>
  </div>
</div>

<div class="row" align="center">
  <div class="col-md-4">
    {% include "person/items/person_personalia.html" %}
    {% include "person/items/person_gifts.html" %}
  </div>

  <div class="col-md-5">
    {% include "person/items/person_positions.html" %}
    {% include "person/items/person_activities.html" %}
  </div>

  <div class="col-md-3">
    {% include "person/items/person_picture.html" %}
    {% include "person/items/person_biography.html" %}
    {% include "person/items/person_travels.html" %}
  </div>
</div>

<hr class="hr-small"/>

<div class="row">
  <div class="col-md-12" align="center">
    <h3>Tijdlijn</h3>
  </div>

  <div id="person-timeline" class="col-md-12">
    <section id="cd-timeline" class="cd-container">
      <div align="center">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw text-primary"></i>
        <span class="sr-only">Loading...</span>
      </div>
    </section>
  </div>
</div>

<script>
  $(function() {
    $.get(
      "{% url 'get-person-timeline-html' %}",
      {
        person_id : {{ person.id }},
        year : 2017
      },
      function(data) {
        $("#cd-timeline").html(data.html);
        $('#cd-timeline').jscroll({
          padding: 400,
          autoTriggerUntil: 20,
          nextSelector: 'a.next-year',
          loadingHtml: '<div align="center"><i class="fa fa-spinner fa-pulse fa-3x fa-fw text-primary"></i></div>'
        });
      },
      "json"
    );
  });
</script>
<script src="{% static 'js/timeline.js' %}"></script>


{% endblock %}