{% extends "website/base.html" %}

{% load openkamer %}

{% block title %}{{ person.fullname }} {{ block.super }}{% endblock %}

{% block content %}

<div class="row" align="center">
  <div class="col-md-4 col-md-offset-4">
    {% include "person/items/person.html" %}
  </div>
</div>

<hr/>

<div class="row" align="center">
  <div class="col-md-12">
    <h4>Functies</h4>
  </div>
  {% get_government_members_for_person person as government_members %}
  {% if government_members %}
  <div class="col-md-12">
    <h5>Kabinet</h5>
    <table class="position-table">
    {% for member in government_members %}
      <tr>
        <td align="right">
          {{ member.start_date }}
        </td>
        <td>
          -
        </td>
        <td>
          {% if member.end_date %}{{ member.end_date }}{% else %}heden{% endif %}
        </td>
        <td></td>
        <td></td>
        <td>
          {{ member.position|lower }}{% if member.position.ministry %} {{ member.position.ministry }}{% endif %}{% if member.position.extra_info %} {{ member.position.extra_info }}{% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>
  {% endif %}
  {% get_parliament_members_for_person person as parliament_members %}
  {% if parliament_members %}
  <div class="col-md-12">
    <h5>Tweede Kamerlid</h5>
    <table class="position-table">
    {% for member in parliament_members %}
      <tr>
        <td align="right">
          {{ member.joined }}
        </td>
        <td>
          -
        </td>
        <td>
          {% if member.left %}{{ member.left }}{% else %}heden{% endif %}
        </td>
        <td></td>
        <td></td>
        <td>
          {% if member.party %}<a href="{% url 'party' member.party.slug %}">{{ member.party.name_short }}</a>{% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>
  {% endif %}
</div>
<hr/>



{% endblock %}