html, body {
  overflow-x: hidden;
}

body {
  padding-top: 70px;
}

#base-footer {
  padding-bottom: 20px;
}

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.vertical-spacer-15 {
    padding: 0;
    margin: 0;
    height: 15px;
}

.vertical-spacer-20 {
    padding: 0;
    margin: 0;
    height: 20px;
}

.vertical-spacer-40 {
    padding: 0;
    margin: 0;
    height: 40px;
}

.fixed-height-column {
  padding: 2px;
  overflow: hidden;
  height: 14em;
}

.party-logo {
  max-width: 100px;
  max-height: 50px;
}

.party-logo-small {
  max-width: 100px;
  max-height: 20px;
}

.party-member-column {
  padding: 2px;
}

.person-image-small {
  max-width: 100px;
  max-height: 50px;
}

.progress.progress-small {
  padding: 0;
  margin: 0;
  height: 5px;
  border-radius: 0;
}

.col-progress-bar {
  margin: 0.5em 0 0 0;
}

hr.hr-small {
  margin: 0.1em 0;
}

.well.well-small {
  padding: 0.5em 0.5em 0 0.5em;
}

.well.well-filters {
  padding: 0.8em 0.8em;
}

.col-kamerstukken {
  padding: 0 0.2em;
}

.category-filter-checkboxes .checkbox {
  display: inline;
}

.category-filter-checkboxes .checkbox input {
  position: relative;
}

.progress.vote-result {
  margin-bottom: 10px;
}

table.position-table td {
  padding-right: 5px;
}

#panel-body-kamervraag {
  padding: 10px 10px 5px 10px;
}

#panel-footer-kamervraag {
  padding: 3px;
}

h6.small {
  font-size: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
}

h6.date {
  font-size: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
}