body {
  padding-top: 70px;
}

#base-footer {
  padding-bottom: 20px;
}

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.vertical-spacer-15 {
    padding: 0;
    margin: 0;
    height: 5px;
}

.vertical-spacer-15 {
    padding: 0;
    margin: 0;
    height: 15px;
}

.vertical-spacer-20 {
    padding: 0;
    margin: 0;
    height: 20px;
}

.vertical-spacer-40 {
    padding: 0;
    margin: 0;
    height: 40px;
}

.fixed-height-column {
  padding: 2px;
  overflow: hidden;
  height: 14em;
}

.party-logo {
  max-width: 100px;
  max-height: 50px;
}

.party-logo-small {
  max-width: 100px;
  max-height: 20px;
}

.party-member-column {
  padding: 8px;
}

.person-image-small {
  max-width: 100px;
  max-height: 50px;
}

.progress.progress-small {
  padding: 0;
  margin: 0;
  height: 6px;
  border-radius: 0 0 3px 3px;
}

.progress.vote-result {
  margin-bottom: 0;
  border-radius: 0 0 3px 3px;
}

.progress.person-vote-result {
  margin: 0;
  border-radius: 3px;
}

.col-progress-bar {
  margin: 0.5em 0 0 0;
}

hr.hr-small {
  margin: 0.1em 0;
}

.well.well-small {
  padding: 0.5em 0.5em 0 0.5em;
}

.well.well-filters {
  padding-top: 0.4em;
  padding-bottom: 0.8em;
}

.col-kamerstukken {
  padding: 0 0.2em;
}

.category-filter-checkboxes .checkbox {
  display: inline;
}

.category-filter-checkboxes .checkbox input {
  position: relative;
}

.panel-heading-timeline {
  padding: 0px 10px 0px 10px;
}

.panel-body-timeline {
  padding-top: 5px;
  padding-bottom: 5px;
}

.panel-footer-timeline {
  padding-top: 5px;
  padding-bottom: 5px;
}

.panel-footer-timeline-vote-bar {
  padding: 0;
}

.panel-small {
  padding-top: 5px;
  padding-bottom: 5px;
}

.panel-footer-kamervraag {
  padding: 2px 7px 2px 7px;
}

h6.small {
  font-size: 90%;
  margin-top: 7px;
  margin-bottom: 7px;
  font-weight: normal;
}

h6.date {
  font-size: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
}

.badge-outline {
    color: black;
    border: 1px solid #999;
    background-color: transparent;
    font-size: .8em;
}
.badge-outline.badge-muted {
    border-color: #b3b3b3;
}

.table-facet {
    table-layout:fixed;
    width: 100%
    border-collapse: collapse;
    border: none;
    margin-bottom: 0;
}

.table-facet td:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-facet td:last-child {
    white-space: nowrap;
    width:25%;
    text-align:center;
}
.table-facet > thead > tr > th {
	padding: 0px;
}

.legend-item {
    margin: 0 5px 0 5px;
}

.divider {
  height: 1px;
  width: 100%;
  display: block; /* for use on default inline elements like span */
  margin: 5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.kamervraag-panel-icon {
    padding-right: 0px;
    padding-left: 10px;
}

.kamervraag-panel-title-col {
    padding: 0 10px 0 10px;
}

.inline-party-logo {
    max-height: 18px;
    max-width: 128px;
    padding-left: 5px;
    padding-right: 5px;
}