// Here you can add other styles

.stuk > h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.stuk h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

.stuk h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

.stuk .lid {
  font-size: 1.2rem;
  font-weight: 500;
}

.stuk .lid.labeled {
  font-size: 0.875rem;
  font-weight: normal;
}