{% load openkamer %}

{% get_current_party person.id as party %}

<h4><a href="{% url 'person' person.slug %}">{{ person.fullname }}</a></h4>

<table class="table">
  <tr>
    <th>Voornaam</th>
    <td>{{ person.forename }}</td>
  </tr>
  <tr>
    <th>Achternaam</th>
    <td>{{ person.surname_prefix }} {{ person.surname }}</td>
  </tr>
  <tr>
    <th>Initialen</th>
    <td>{{ person.initials }}</td>
  </tr>
  <tr>
    <th>Geboortedatum</th>
    <td>{{ person.birthdate }}</td>
  </tr>
  <tr>
    <th>Politieke Partij</th>
    {% if party %}
    <td><a href="{% url 'party' party.slug %}">{{ party.name_short }}</a></td>
    {% else %}
    <td>onbekend</td>
    {% endif %}
  </tr>
  <tr>
    <th>Biografie</th>
    <td>
      {% if person.wikipedia_url %}<a href="{{ person.wikipedia_url }}" target="_blank">Wikipedia</a>{% endif %}<br/>
      {% if person.parlement_and_politiek_id %}<a href="{{ person.parlement_and_politiek_url }}" target="_blank">Parlement en Politiek</a>{% endif %}
    </td>
  </tr>
  {% if person.twitter_username %}
  <tr>
    <th>Twitter</th>
    <td>
      <a href="https://www.twitter.com/{{ person.twitter_username }}">{{ person.twitter_username }}</a>
    </td>
  </tr>
  {% endif %}
</table>

<img src="{{ person.wikimedia_image_url }}" height="200px">

<hr/>

