{% load openkamer %}

{% get_current_party person.id as party %}

<h4><a href="/person/{{ person.id }}/">{{ person.fullname }}</a></h4>

<table class="table">
  <tr>
    <th>Voornaam</th>
    <td>{{ person.forename }}</td>
  </tr>
  <tr>
    <th>Achternaam</th>
    <td>{{ person.surname_prefix }} {{ person.surname }}</td>
  </tr>
  <tr>
    <th>Initialen</th>
    <td>{{ person.initials }}</td>
  </tr>
  <tr>
    <th>Geboortedatum</th>
    <td>{{ person.birthdate }}</td>
  </tr>
  <tr>
    <th>Parlement en Politiek</th>
    <td>{% if person.parlement_and_politiek_id %}<a href="{{ person.parlement_and_politiek_url }}" target="_blank">link</a>{% else %} unbekend {% endif %}</td>
  </tr>
  <tr>
    <th>Politieke Partij</th>
    <td>{{ party.name_short }}</td>
  </tr>
</table>
<img src="{{ person.wikimedia_image_url }}" height="200px">

<hr/>

