{% load openkamer %}

{% get_travels_for_person person as travels %}

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">

      <div class="panel-heading">
        <span class="h5">Reizen ({{ travels|length }})</span>
      </div>

      {% if travels %}
      <ul class="list-group">
      {% for travel in travels|slice:":2" %}
        <li class="list-group-item"><span class="h6">{{ travel.destination }}</span></li>
      {% endfor %}
      </ul>

      <div class="panel-footer">
        <span class="h5">
          <a href="{% url 'travels' %}?person={{ person.slug }}">Alle reizen</a>
        </span>
      </div>
      {% endif %}

    </div>
  </div>
</div>
