<div class="panel panel-default">

  <div class="panel-heading">
    <span class="h5">
      <a href="{% url 'person' gift.person.slug %}">{{ gift.person.fullname }}</a>
      {% if gift.person_position.party %}
      <a href="{% url 'party' gift.person_position.party.slug %}" class="pull-right">
        {{ gift.person_position.party.name_short }}
      </a>
    </span>
    {% endif %}
  </div>

  <div class="panel-body">
    {{ gift.description }}
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-4">
        <span class="h6">{% if gift.get_type_display != 'Onbekend' %}{{ gift.get_type_display|lower }}{% endif %}</span>
      </div>
      <div class="col-sm-3 text-center">
        <span class="h5">{% if gift.value_euro %}€{{ gift.value_euro|floatformat:2 }}{% endif %}</span>
      </div>
      <div class="col-sm-5 text-right">
        <span><small>{{ gift.date }}</small></span>
      </div>
    </div>



  </div>

</div>