{% extends "website/base.html" %}

{% load bootstrap_pagination %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div align="center"><h3>Besluitenlijsten</h3></div>
    <hr/>
  </div>
</div>

<div class="row">
  {% for lijst in besluitenlijsten %}
  <div class="col-md-6">
    <div class="well well-small" align="left">

      <h6><a href="{% url 'besluitenlijst' lijst.activity_id %}">{{ lijst.title }}</a></h6>
      <h6>{{ lijst.commission }}</h6>
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          {{ lijst.date_published }}
        </div>
        <div class="col-xs-6" align="right">
          {{ lijst.activity_id }}
        </div>
      </div>
    </div>
  </div>

  {% if forloop.counter|divisibleby:2 %}
  <div class="clearfix"></div>
  {% endif %}

  {% endfor %}
</div>


<hr/>

{% endblock %}
