{% extends "website/base.html" %}

{% load staticfiles %}
{% load openkamer %}

{% block headcontent %}
  <link rel="stylesheet" href="/static/css/timeline.css"> <!-- Resource style -->
  <script src="/static/js/modernizr.js"></script> <!-- Modernizr -->
{% endblock %}

{% block content %}
<body>

<div class="row">
  <div class="col-lg-12">
    <div align="center">
      <h4>Tijdlijn Wetsvoorstel {{ dossier.dossier_id }}</h4>
      <h5>{{ dossier.title }}</h5>
    </div>
  </div>
</div>

<hr/>

<div class="row">

<section id="cd-timeline" class="cd-container">
  {% for kamerstuk in dossier.kamerstukken.reverse %}

	<div class="cd-timeline-block">
    {% if kamerstuk.voting %}
      {% if kamerstuk.voting.result == "VER" %}
      <div class="cd-timeline-img bg-danger text-center">
      {% elif kamerstuk.voting.result == "AAN" %}
      <div class="cd-timeline-img bg-success text-center">
      {% elif kamerstuk.voting.result == "ING" %}
      <div class="cd-timeline-img bg-warning text-center">
      {% elif kamerstuk.voting.result == "AGH" %}
      <div class="cd-timeline-img bg-warning text-center">
      {% endif %}
    {% else %}
      <div class="cd-timeline-img bg-info text-center">
    {% endif %}

    {% get_kamerstuk_icon_name kamerstuk.id as iconname %}
        <span style="font-size:24px;" class="fa {{ iconname }}"></span>
      </div> <!-- cd-timeline-img -->

		<div class="cd-timeline-content">
      <h2><a href="/document/{{ kamerstuk.document.id }}/">{{ kamerstuk.type_short }}</a></h2>
      <p>{{ kamerstuk.type_long }}</p>
      {% with submitters=kamerstuk.document.submitters %}
        <p>Indieners: {% include "document/items/submitters_list.html" %}</p>
      {% endwith %}
      {% if kamerstuk.voting %}
        {% with voting=kamerstuk.voting %}
        {% include "document/items/voting_result_bar_small.html" %}
        {% endwith %}
      {% endif %}
			<span class="cd-date"><h2>{{ kamerstuk.document.date_published|date:"j F Y" }}</h2></span>
		</div> <!-- cd-timeline-content -->
	</div> <!-- cd-timeline-block -->

  {% endfor %}
</section>

</div>

<script src="{% static 'js/timeline.js' %}"></script>

{% endblock %}