{% extends "website/base.html" %}

{% load openkamer %}

{% block title %}Wetsvoorstellen - Tweede Kamer {{ block.super }}{% endblock %}

{% load bootstrap_pagination %}

{% block content %}


<div class="row">
  <div class="col-lg-12">
    <div align="center"><h3>Wetsvoorstellen</h3></div>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
  <h5>Filters (verfijn resultaten)</h5>
  <h6>Onderwerp</h6>
  </div>
  <div class="col-lg-12 hidden-xs">
    <a href="{% url 'dossiers' %}" class="btn btn-xs btn-default {% get_extra_category_button_class 'all' category_name %}" role="button">alle</a>
    {% for category in categories %}
      <a href="?category={{ category.slug }}" class="btn btn-xs btn-default {% get_extra_category_button_class category.slug category_name %}" role="button">{{ category.name }}</a>
    {% endfor %}
  </div>

  <div class="col-lg-12 visible-xs">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if category_name %}
          {{ category_name }}
        {% else %}
          alle
        {% endif %}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {% for category in categories %}
        <li><a href="?category={{ category.slug }}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

</div>


<hr/>

<div class="row">
  {% for dossier in dossiers %}
  <div class="col-md-6">
    <div class="well well-small" align="left">

      <h6><a href="{% url 'dossier-timeline' dossier.dossier_id %}">{{ dossier.title }}</a></h6>
      <div class="row">
        <div class="col-md-12">
          {% with voting=dossier.voting %}
            {% include "document/items/voting_result_bar_small.html" %}
          {% endwith %}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          {{ dossier.start_date }}
        </div>
        <div class="col-xs-6" align="right">
          {{ dossier.dossier_id }}
        </div>
      </div>
    </div>
  </div>

  {% if forloop.counter|divisibleby:2 %}
  <div class="clearfix"></div>
  {% endif %}

  {% endfor %}
</div>

<div class="row" align="center">{% bootstrap_paginate dossiers %}</div>

<hr/>

{% endblock %}
