{% extends "website/base.html" %}

{% load bootstrap3 %}
{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div align="center">
      <h3>Dossier {{ dossier.dossier_id }}</h3>
      <h4>{{ dossier.title }}</h4>
    </div>
  </div>
</div>

<hr/>

<div class="row">

{% for kamerstuk in dossier.kamerstukken %}
  {% if kamerstuk.visible %}
  <div class="col-sm-4 kamerstuk-member-column" align="center">
    <p>
      <!--{% if kamerstuk.voorstelwet %}-->
       <!--voorstaelwet-->
      <!--{% endif %}-->
      <h5><a href="/document/{{ kamerstuk.document.id }}/">{{ kamerstuk.type_short }}</a></h5>
      <font size="2">
        {% if kamerstuk.type_short !=  kamerstuk.type_long %}
        {{ kamerstuk.type_long }} <br/>
        {% endif %}
        <!--{{ kamerstuk.document.title }} <br/>-->
        <b>{{ kamerstuk.document.date_published|date:"Y-m-d" }} </b> <br/>
        {{ kamerstuk.document.publisher }} <br/>
        {{ kamerstuk.id_main }}.{{ kamerstuk.id_sub }}<br/>
      </font>
    </p>

  </div>
  {% endif %}
{% endfor %}

</div>

<hr/>

<div class="row">
  <div class="col-lg-12">
    <div align="center"><h5>Documenten binnen dossier {{ dossier.dossier_id }}</h5></div>
  </div>
</div>

<div class="row">

  {% for document in dossier.documents %}
  <div class="col-xs-2 party-member-column" align="center">

    <p>
        {{ document.raw_type }} <br/>
      <font size="2">
        {{ document.date_published }} <br/>
        {{ document.publisher }} <br/>
        <a href="/document/{{ document.id }}/">html document</a> <br/>
      </font>
    </p>

  </div>
  {% endfor %}

</div>

<hr/>

<div class="row">
  <div class="col-lg-12">
    <div align="center"><h5><a href="/api/dossier/{{ dossier.id }}/">Dossier API</a></h5></div>
  </div>
</div>

<hr/>

{% endblock %}