{% extends "website/base.html" %}

{% block title %}Dossier {{ dossier.dossier_id }} - {{ dossier.title }} - Tweede Kamer {{ block.super }}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div align="center">
      <h4>Dossier {{ dossier.dossier_id }}</h4>
      <h5>{{ dossier.title }}</h5>
      {% if dossier.voting %}
        {% with voting=dossier.voting %}
          {% include "document/items/voting_result_bar.html" %}
          {% include "document/items/voting_result_small.html" %}
        {% endwith %}
      {% endif %}
    </div>
  </div>
</div>

<hr/>

<div class="row">
  {% include "document/items/kamerstukken_tiles.html" %}
</div>

<hr/>

<div class="row">
  <div class="col-lg-12">
    <div align="center"><h5><a href="/api/dossier/{{ dossier.id }}/">Dossier API</a></h5></div>
  </div>
</div>

<hr/>

{% endblock %}
