{% extends "website/base.html" %}

{% load static %}

{% load bootstrap3 %}
{% load openkamer %}

{% block title %}Wetsvoorstellen - Tweede Kamer {{ block.super }}{% endblock %}

{% load bootstrap_pagination %}

{% block content %}


<div class="row">
  <div class="col-lg-12">
    <div align="center"><h3>Wetsvoorstellen</h3></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 well well-filters">
  <h5>Filters (verfijn resultaten)</h5>

    <div class="row">
      <form action="" method="get">

        <div class="col-sm-4">
          <h6 class="text-primary">Titel</h6>
          {% bootstrap_field filter.form.title bound_css_class='' show_label=False show_help=False %}
        </div>

        <div class="col-sm-4">
          <h6 class="text-primary">Indiener</h6>
          {% bootstrap_field filter.form.submitter bound_css_class='' show_label=False show_help=False %}
          {{ filter.form.media }}
        </div>

        <div class="col-sm-4">
          <h6 class="text-primary">Stemmingsuitslag</h6>
          {% bootstrap_field filter.form.voting_result bound_css_class='' show_label=False show_help=False %}
        </div>

        <div class="col-sm-12">
          <a class="collapse-filter" data-toggle="collapse" href="#collapse-category-filter" aria-expanded="false" aria-controls="collapse-category-filter"><h6><i class="fa fa-chevron-right"></i> Onderwerpen</h6></a>
          <div class="collapse" id="collapse-category-filter">
            <div class="card card-block">
              {% bootstrap_field filter.form.categories size='medium' field_class='category-filter-checkboxes text-primary' bound_css_class='' show_label=False show_help=False %}
            </div>
          </div>
          <script type="text/javascript">
            $('.collapse').on('show.bs.collapse', function() {
              $(this).parent().find(".fa-chevron-right").removeClass("fa-chevron-right").addClass("fa-chevron-down");
            }).on('hide.bs.collapse', function() {
              $(this).parent().find(".fa-chevron-down").removeClass("fa-chevron-down").addClass("fa-chevron-right");
            });

            if ($(".checkbox input").is(":checked")) { // checked
              // console.log('at least one category is checked');
              $("#collapse-category-filter").addClass("in");
              $("#collapse-category-filter").parent().find(".fa-chevron-right").removeClass("fa-chevron-right").addClass("fa-chevron-down");;
            }
          </script>
        </div>

        <div class="col-sm-12">
          {% bootstrap_button content='Zoek' button_type='submit' %}
        </div>

      </form>
    </div>

  </div>
</div>

<hr class="hr-small"/>

<div class="row">
  <div class="col-md-6">
    <h6>{{ filter.qs|length }} {% if filter.qs|length == 0%}geen wetsvoorstellen{% elif filter.qs|length == 1%}wetsvoorstel{% else %}wetsvoorstellen{% endif %} gevonden</h6>
  </div>
  <div class="col-md-6" align="right">
  </div>
</div>

<div class="row">
  {% for dossier in dossiers %}
  <div class="col-md-6">
    <div class="well well-small" align="left">

      <div class="row">
        <div class="col-xs-5" align="left">
          <small>{{ dossier.start_date }}</small>
        </div>
        <div class="col-xs-2" align="center">
          <small>{{ dossier.dossier_id }}</small>
        </div>
        <div class="col-xs-5" align="right">
          {% if dossier.voting %}
          {% get_voting_result_color dossier.voting.id as voting_result_class %}
          {% get_voting_result_icon dossier.voting.id as voting_result_icon %}
            <span class="fa {{ voting_result_icon }} text-{{ voting_result_class }}"></span>
          {% elif dossier.is_active %}
            <span class="fa fa-spinner text-info" title="In behandeling"></span>
          {% elif dossier.is_withdrawn %}
            <span class="fa fa-undo text-danger" title="Ingetrokken"></span>
          {% else %}
            <span class="fa fa-stop-circle-o text-warning" title="Niet meer in behandling. Resultaat onduidelijk."></span>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h6><a href="{% url 'dossier-timeline' dossier.dossier_id %}">{{ dossier.title }}</a></h6>
        </div>
      </div>

      {% if dossier.voting %}
      <div class="row">
        <div class="col-md-12">
          {% with voting=dossier.voting %}
            {% include "document/items/voting_result_bar_small.html" %}
          {% endwith %}
        </div>
        <div class="vertical-spacer-15"></div>
      </div>
      {% endif %}

    </div>
  </div>

  {% if forloop.counter|divisibleby:2 %}
  <div class="clearfix"></div>
  {% endif %}

  {% endfor %}
</div>

<div class="row" align="center">{% bootstrap_paginate dossiers %}</div>

<hr/>

{% endblock %}
