{% extends "website/base.html" %}

{% load static %}

{% load bootstrap3 %}

{% block title %}Kamervragen - Tweede Kamer {{ block.super }}{% endblock %}

{% load bootstrap_pagination %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div align="center"><h3>Kamervragen</h3></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 well well-filters">

    <div class="row">
      <form action="" method="get">

        <div class="col-sm-3 col-lg-4">
          <h6 class="text-primary">Titel</h6>
          {% bootstrap_field filter.form.title bound_css_class='' show_label=False show_help=False %}
        </div>

        <div class="col-sm-3 col-lg-4">
          <h6 class="text-primary">Status</h6>
          {% bootstrap_field filter.form.status bound_css_class='' show_label=False show_help=False %}
        </div>

        <div class="col-sm-12 col-lg-4">
          <h6 class="text-primary">Indiener</h6>
          {% bootstrap_field filter.form.submitter bound_css_class='' show_label=False show_help=False %}
          {{ filter.form.media }}
        </div>

        <div class="col-sm-12">
          <a class="collapse-filter" data-toggle="collapse" href="#collapse-category-filter" aria-expanded="false" aria-controls="collapse-category-filter"><h6><i class="fa fa-chevron-right"></i> Onderwerpen</h6></a>
          <div class="collapse" id="collapse-category-filter">
            <div class="card card-block">
              {% bootstrap_field filter.form.categories size='medium' field_class='category-filter-checkboxes text-primary' bound_css_class='' show_label=False show_help=False %}
            </div>
          </div>
          <script type="text/javascript">
            $('.collapse').on('show.bs.collapse', function() {
              $(this).parent().find(".fa-chevron-right").removeClass("fa-chevron-right").addClass("fa-chevron-down");
            }).on('hide.bs.collapse', function() {
              $(this).parent().find(".fa-chevron-down").removeClass("fa-chevron-down").addClass("fa-chevron-right");
            });

            if ($(".checkbox input").is(":checked")) { // checked
              // console.log('at least one category is checked');
              $("#collapse-category-filter").addClass("in");
              $("#collapse-category-filter").parent().find(".fa-chevron-right").removeClass("fa-chevron-right").addClass("fa-chevron-down");;
            }
          </script>
        </div>

        <div class="col-sm-12">
          {% bootstrap_button content='Zoek' button_type='submit' %}
        </div>

      </form>
    </div>

  </div>
</div>

<hr class="hr-small"/>

<div class="row">
  <div class="col-md-6">
    <h6>{% if n_results == 0 %}geen kamervragen{% elif n_results == 1 %}1 kamervraag{% else %}{{ n_results }} kamervragen{% endif %} gevonden</h6>
  </div>
</div>


{% if kamervragen_answered_recently %}
<div class="row">
  <h5>Recent beantwoord</h5>
  {% for kamervraag in kamervragen_answered_recently %}

    {% include 'document/items/kamervraag_tile.html' %}

    {% if forloop.counter|divisibleby:2 %}
      <div class="clearfix"></div>
    {% endif %}

  {% endfor %}
</div>

<hr class="hr-small"/>
{% endif %}

{% if kamervragen %}
<div class="row">
  <h5>Alle</h5>
  {% for kamervraag in kamervragen %}

    {% include 'document/items/kamervraag_tile.html' %}

    {% if forloop.counter|divisibleby:2 %}
      <div class="clearfix"></div>
    {% endif %}

  {% endfor %}
</div>
{% endif %}

<div class="row" align="center">{% bootstrap_paginate kamervragen range=10 show_prev_next="true" show_first_last="true" %}</div>

{% endblock %}
