{% extends "website/base.html" %}

{% block title %}Kamervragen Tabel {{ year }} - Tweede Kamer {{ block.super }}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div align="center">
      <h4>Kamervragen Tabel {{ year }}</h4>
      <h5>{{ kamervragen|length }} kamervragen gevonden</h5>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Vraag nummer</th>
            <th>Datum</th>
            <th>Title</th>
            <th>Ontvanger</th>
            <th>Beantwoord door</th>
            <th>Ministerie</th>
          </tr>
        </thead>
        <tbody>
          {% for kamervraag in kamervragen %}
          <tr>
            <td><a href="{% url 'kamervraag' kamervraag.vraagnummer %}">{{ kamervraag.vraagnummer }}</a></td>
            <td>{{ kamervraag.document.date_published }}</td>
            <td>{{ kamervraag.document.title_short }}</td>
            <td>
              {% with submitters=kamervraag.document.receivers %}
                {% include "document/items/submitters_list.html" %}
              {% endwith %}
            </td>
            <td>
              {% with submitters=kamervraag.kamerantwoord.document.submitters %}
                {% include "document/items/submitters_list.html" %}
              {% endwith %}
            </td>
            <td>
              {% for receiver in kamervraag.document.receivers %}
                {% for member in receiver.government_members %}
                  {% if member.position.ministry %}
                    {{ member.position.ministry }}{% if not forloop.parentloop.last %}; {% endif %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>

{% endblock %}
