{% extends "website/base.html" %}

{% load static %}

{% load bootstrap4 %}

{% block title %}Kamervragen - Tweede Kamer {{ block.super }}{% endblock %}

{% load bootstrap_pagination %}

{% block content %}

<div class="row my-3">
  <div class="col-lg-12">
    <div align="center"><h3>Kamervragen</h3></div>
  </div>
</div>

<div class="card border-primary">
  <div class="card-body">

    <form method="get">
      <div class="row">

        <div class="col-sm-6 col-lg-2">
          <h6 class="text-info">Titel</h6>
          {% bootstrap_field filter.form.title bound_css_class='' show_label=False show_help=False %}
        </div>

        <div class="col-sm-6 col-lg-2">
          <h6 class="text-info">Status</h6>
          {% bootstrap_field filter.form.status bound_css_class='' show_label=False show_help=False %}
        </div>

        <div class="col-sm-6 col-lg-4">
          <h6 class="text-info">Indiener (persoon)</h6>
          {% bootstrap_field filter.form.submitter bound_css_class='' show_label=False show_help=False %}
          {{ filter.form.media }}
        </div>

        <div class="col-sm-6 col-lg-4">
          <h6 class="text-info">Indiener (partij)</h6>
          {% bootstrap_field filter.form.submitter_party bound_css_class='' show_label=False show_help=False %}
          {{ filter.form.media }}
        </div>

        <div class="col-sm-12">
          <a class="collapse-filter" data-toggle="collapse" href="#collapse-category-filter" aria-expanded="false" aria-controls="collapse-category-filter"><h6><i class="fa fa-chevron-right"></i> Onderwerpen</h6></a>
          <div class="collapse" id="collapse-category-filter">
            <div class="card card-block">
              {% bootstrap_field filter.form.categories size='medium' field_class='category-filter-checkboxes text-primary' bound_css_class='' show_label=False show_help=False %}
            </div>
          </div>
          <script type="text/javascript">
            $('.collapse').on('show.bs.collapse', function() {
              $(this).parent().find(".fa-chevron-right").removeClass("fa-chevron-right").addClass("fa-chevron-down");
            }).on('hide.bs.collapse', function() {
              $(this).parent().find(".fa-chevron-down").removeClass("fa-chevron-down").addClass("fa-chevron-right");
            });

            if ($(".checkbox input").is(":checked")) { // checked
              // console.log('at least one category is checked');
              $("#collapse-category-filter").addClass("in");
              $("#collapse-category-filter").parent().find(".fa-chevron-right").removeClass("fa-chevron-right").addClass("fa-chevron-down");;
            }
          </script>
        </div>

        <div class="col-sm-12">
          {% bootstrap_button content='Zoek' button_type='submit' %}
        </div>

      </div>
    </form>

  </div>
</div>

<hr class="my-3"/>

<div class="row">

  <div class="col-md-6">
    <h6>{% if n_results == 0 %}geen kamervragen{% elif n_results == 1 %}1 kamervraag{% else %}{{ n_results }} kamervragen{% endif %} gevonden</h6>
  </div>

  <div class="col-md-6 visible-lg" align="right">
    <h6>
      <span class="legend-item"><i class="fa fa-check text-success" title="Beantwoord"></i> beantwoord</span>
      <span class="legend-item"><i class="fa fa-spinner text-primary" title="Nog niet beantwoord"></i> onbeantwoord</span>
      <span class="legend-item"><i class="fa fa-clock-o text-primary" title="Uitgesteld"></i> uitgesteld</span>
    </h6>
  </div>

</div>

<hr class="my-3"/>

{% if kamervragen_answered_recently %}
<h5>Recent beantwoord</h5>
<div class="row">
  {% for kamervraag in kamervragen_answered_recently %}

    {% with group_name='recent' %}
    {% include 'document/items/kamervraag_tile.html' %}
    {% endwith %}

    {% if forloop.counter|divisibleby:2 %}
      <div class="clearfix"></div>
    {% endif %}

  {% endfor %}
</div>

<hr class="hr-small"/>
{% endif %}

{% if kamervragen %}
<h5>Alle</h5>
<div class="row">
  {% for kamervraag in kamervragen %}

    {% with group_name='all' %}
    {% include 'document/items/kamervraag_tile.html' %}
    {% endwith %}

    {% if forloop.counter|divisibleby:2 %}
      <div class="clearfix"></div>
    {% endif %}

  {% endfor %}
</div>
{% endif %}

<div class="row" align="center">{% bootstrap_paginate kamervragen range=10 show_prev_next="true" show_first_last="true" %}</div>

{% endblock %}
