{% extends "website/base.html" %}

{% block title %}Stemmingen - Stemmingsuitslagen van wetsvoorstellen, moties en amendementen - Tweede Kamer {{ block.super }}{% endblock %}

{% load bootstrap_pagination %}

{% block content %}

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div align="center"><h3>Stemmingen</h3></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 hidden-xs">
    {% include "document/items/votings_table.html" %}
  </div>
</div>

<div class="row visible-xs">
  <div class="col-lg-12">
    {% include "document/items/votings_tiles.html" %}
  </div>
</div>

<div class="row" align="center">{% bootstrap_paginate votings %}</div>

<hr/>

{% endblock %}
