{% extends "website/base.html" %}

{% block title %}Stemming - {% if voting.kamerstuk %}{{ voting.kamerstuk.type_long }}{% else %}{{ voting.dossier.title }}{% endif %} - Dossier {{ voting.dossier.dossier_id }} {{ block.super }}{% endblock %}


{% block content %}

<div class="row">
  <div class="col-lg-12" align="center">

    <h4>Stemming</h4>

    <h5>
    {% if voting.kamerstuk %}
      {{ voting.kamerstuk.type_long }}
    {% else %}
      {{ voting.dossier.title }}
    {% endif %}
    </h5>

    <p>
      {% include "document/items/voting_result_bar.html" %}
      {% include "document/items/voting_result_small.html" %}
    </p>

  </div>
</div>

{% if voting.votes %}
<hr/>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    {% include "document/items/voting_result_list_large.html" %}
  </div>
</div>
{% endif %}

<hr/>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
  {% if voting.kamerstuk %}
  {% with document=voting.kamerstuk.document %}
    {{ document.content_html|safe }}
  {% endwith %}
  {% endif %}
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
  {% if voting.kamerstuk %}
  {% with document=voting.kamerstuk.document %}
    {% include "document/items/document_info.html" %}
  {% endwith %}
  {% endif %}
  </div>
</div>

{% endblock %}