{% load openkamer %}
<dl>
<dt>{{facet.label}}</dt>
{% for i in facet.list_of_facetitems|slice:":5" %}            
     {% if i.is_selected %}
        <a href="{{i.url}}"><b>{{i.value}} ({{i.count}}) [X]</b></a><br>
     {% else %}
        <a href="{{i.url}}">{{i.value}} ({{i.count}})</a><br>
     {% endif %}                
{% endfor %}
{% if facet.list_of_facetitems|length > 5 %}
<div class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meer... <span class="caret"></span></a>
    <ul class="dropdown-menu">
        {% for i in facet.list_of_facetitems|slice:"5:" %}                                         
               <li><a href="{{i.url}}">{{i.value}} ({{i.count}})</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
</dl>
