{% load openkamer %}
<div class="panel panel-default">
  <div class="panel-heading">
<dt>{{facet.label}}</dt>
  </div>
  <div class="panel-body">
  
{% for i in facet.list_of_facetitems|slice:":5" %}            
     {% if i.is_selected %}
        <a href="{{i.url}}" title="Verwijder dit filter"><b>{{i.value}} <span class="badge">{{i.count}}</span></b></a><br>
     {% else %}
        <a href="{{i.url}}" title="Selecteer dit filter">{{i.value}} <span class="badge badge-outline badge-muted">{{i.count}}</span></a><br>
     {% endif %}                
{% endfor %}
  
  
{% if facet.list_of_facetitems|length > 5 %}

<div class="dropdown">

    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meer... <span class="caret"></span></a>
    <ul class="dropdown-menu">
        {% for i in facet.list_of_facetitems|slice:"5:" %}                                         
               <li><a href="{{i.url}}">{{i.value}} ({{i.count}})</a></li>
        {% endfor %}
    </ul>
</div>
  
{% endif %}
</div>
</div>