

{% extends "website/base.html" %}
{% load highlight %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div align="center"><h2>Zoeken</h2></div>
        </div>
        <div class="col-md-9">
            <h2> </h2>
            <form class="form-horizontal" method="get" action=".">
                <div class="input-group">
                    <input type="search" name="q" id="id_q" {% if query %} value="{{query}}"   {%endif%} class="form-control" width="80%"><span class="input-group-btn">
                    <button type="submit"  class="btn btn-primary">   
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button></span>
                </div>
            </form><br>
        </div>
    </div>


    <div class="row">


        {% if query %}
            
            <div class="col-md-3">
            <!-- Begin faceting. -->
            {% include "search/facet.html" with facet=f.publication_type %}            
            {% include "search/facet.html" with facet=f.dossier %}            
            {% include "search/facet.html" with facet=f.decision %}            
            {% include "search/facet.html" with facet=f.parties %}            
            {% include "search/facet.html" with facet=f.submitters %}            
            {% include "search/facet.html" with facet=f.receiver %}    
            {% include "search/datefacet.html" %}                  

            <!-- End faceting -->
            </div>
            <div class="col-md-9">

            {% for result in page_obj.object_list %}
                <p>
                    {% if result.model_name == "kamerstuk" %}<a href={% url result.model_name result.object.id_main result.object.id_sub %}>{{result.title}}</a> <a class="text-muted" href={% url 'dossier-timeline' result.object.id_main %}>(Dossier {{result.object.id_main}})</a><br> 
                    {% else %}<a href={% url result.model_name result.object.vraagnummer %}>{{result.title}}</a><br> 
                    {% endif %}
                    {% highlight result.text with query %} 
                    
                    
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page_obj.has_previous or page_obj.has_next %}
                <div>
                    {% if page_obj.has_previous %}<a href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}">{% endif %}&laquo; Previous{% if page_obj.has_previous %}</a>{% endif %}
                    |
                    {% if page_obj.has_next %}<a href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}">{% endif %}Next &raquo;{% if page_obj.has_next %}</a>{% endif %}
                </div>
            {% endif %}
            </div>
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
            </div>

    </div>
{% endblock %}