

{% extends "website/base.html" %}
{% load highlight %}
{% block content %}
    <h2>Search</h2>

    <form method="get" action=".">
{{ form}}<input type="submit" value="Search">   
        <table>
            
            <tr> 
                <td>&nbsp; </td>
                <td>
                    <!--<input type="submit" value="Search">-->
                </td>
            </tr>
        </table>

        {% if query %}

            <!-- Begin faceting. -->
            <h2>By Publication Type</h2>
        
            <div>
                <dl>
                    {% if facets.fields.publication_type %}

                        <dt>Type</dt>
                        {# Provide only the top 5 authors #}
                        {% for publication_type in facets.fields.publication_type %}
                            <dd><a href="{{ request.get_full_path }}&amp;selected_facets=publication_type:{{ publication_type.0|urlencode }}">{{ publication_type.0 }}</a> ({{ publication_type.1 }})</dd>
                        {% endfor %}
                    {% else %}
                        <p>No publication type facets.</p>
                    {% endif %}
                </dl>
            </div>
            <!-- End faceting -->

            <h3>Results</h3>

            {% for result in page_obj.object_list %}
                <p>
                    <a href=link>{{result.title}}</a> <br>
                    {% highlight result.text with query %} 
                    
                    
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page_obj.has_previous or page_obj.has_next %}
                <div>
                    {% if page_obj.has_previous %}<a href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}">{% endif %}&laquo; Previous{% if page_obj.has_previous %}</a>{% endif %}
                    |
                    {% if page_obj.has_next %}<a href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}">{% endif %}Next &raquo;{% if page_obj.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}