

{% extends "website/base.html" %}
{% load highlight %}
{% block content %}
    <div class="row">
        <div class="col-md-2">
            <h2>Zoek</h2>
        </div>
        <div class="col-md-9">
            <h2> </h2>
            <form class="form-horizontal" method="get" action=".">
                <div class="input-group">
                    <input type="search" name="q" id="id_q" {% if query %} value="{{query}}"   {%endif%} class="form-control" width="80%"><span class="input-group-btn">
                    <button type="submit"  class="btn btn-primary">   
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button></span>
                </div>
            </form>
        </div>
    </div>


    <div class="row">
        {% if query %}
            
            <div class="col-md-2">
            <!-- Begin faceting. -->
            
            <div>
                <dl>
                    {% if facets.fields.publication_type %}

                        <dt>Type</dt>
                        {# Provide only the top 5 authors #}
                        {% for publication_type in facets.fields.publication_type %}
                            <dd><a href="{{ request.get_full_path }}&amp;selected_facets=publication_type:{{ publication_type.0|urlencode }}">{{ publication_type.0 }}</a> ({{ publication_type.1 }})</dd>
                        {% endfor %}
                    {% else %}
                        <p>No publication type facets.</p>
                    {% endif %}
                </dl>
            </div>

            <div>
                <dl>
                    {% if facets.fields.parties %}

                        <dt>Partij</dt>
                        {% for party in facets.fields.parties%}
                            <dd><a href="{{ request.get_full_path }}&amp;selected_facets=parties:{{ party.0|urlencode }}">{{ party.0 }}</a> ({{ party.1 }})</dd>
                        {% endfor %}
                    {% else %}
                        <p>No party facets.</p>
                    {% endif %}
                </dl>
            </div>
                  
            <div>
                <dl>
                    {% if facets.fields.submitters %}

                        <dt>Indiener</dt>
                        {# Provide only the top 5 authors #}
                        {% for submitters in facets.fields.submitters %}
                            <dd><a href="{{ request.get_full_path }}&amp;selected_facets=submitters:{{ submitters.0|urlencode }}">{{ submitters.0 }}</a> ({{ submitters.1 }})</dd>
                        {% endfor %}
                    {% else %}
                        <p>No submitters  facets.</p>
                    {% endif %}
                </dl>
            </div>
            <!-- End faceting -->
            </div>
            <div class="col-md-9">

            {% for result in page_obj.object_list %}
                <p>
                    <a href=link>{{result.title}}</a> <br>
                    {% highlight result.text with query %} 
                    
                    
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page_obj.has_previous or page_obj.has_next %}
                <div>
                    {% if page_obj.has_previous %}<a href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}">{% endif %}&laquo; Previous{% if page_obj.has_previous %}</a>{% endif %}
                    |
                    {% if page_obj.has_next %}<a href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}">{% endif %}Next &raquo;{% if page_obj.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}