<h4>{{ document.title }}</h4>
<H5>{{ document.date_published|date:"Y-m-d" }}</H5>
<h5>Dossier: <a href="{% url 'dossier-timeline' document.dossier.dossier_id %}">{{ document.dossier.dossier_id }}</a></h5>
<h5>Indiener(s):
  {% with submitters=document.submitters %}
    {% include "document/items/submitters_list.html" %}
  {% endwith %}
</h5>
<h5>Categorieën: {% with categories=document.categories.all %}{% include "document/items/category_list.html" %}{% endwith %}</h5>
<h5>Bron: <a href="{{ document.document_url }}">{{ document.document_url }}</a></h5>