{% load openkamer %}

<div class="card border-secondary">

  <div class="card-body panel-small py-2">
    <span class="h6">
      <a href="{% url 'dossier-timeline' dossier.dossier_id %}">{{ dossier.title }}</a>
    </span>
  </div>

  {% if dossier.first_voorstel.document.submitters %}
  <div class="card-footer bg-white py-1 text-right">
    {% with submitters=dossier.first_voorstel.document.submitters %}
      <span class="h6">{% include "document/items/submitters_list.html" %}</span>
    {% endwith %}
  </div>
  {% endif %}

  <div class="card-footer bg-white py-0">
    <div class="row">
      <div class="col">
        <small>{{ dossier.last_date }}</small>
      </div>
      <div class="col text-center">
        <small>{{ dossier.dossier_id }}</small>
      </div>
      <div class="col">
        <span class="float-right">
          {% get_dossier_status_color dossier as dossier_status_class %}
          {% get_dossier_status_icon dossier as dossier_status_icon %}
          <i class="fa {{ dossier_status_icon }} text-{{ dossier_status_class }}" title="{{ dossier.get_status_display }}"></i>
        </span>
      </div>
    </div>
  </div>

  {% if dossier.voting %}
  <div class="card-footer panel-footer-timeline-vote-bar">
    {% with voting=dossier.voting %}
      {% include "document/items/voting_result_bar_small.html" %}
    {% endwith %}
  </div>
  {% endif %}

</div>
