{% load openkamer %}

<div class="well well-small" align="left">

  <div class="row">
    <div class="col-xs-5" align="left">
      <small>{{ dossier.last_date }}</small>
    </div>
    <div class="col-xs-2" align="center">
      <small>{{ dossier.dossier_id }}</small>
    </div>
    <div class="col-xs-5" align="right">
      {% if dossier.voting %}
      {% get_dossier_status_color dossier as dossier_status_class %}
      {% get_dossier_status_icon dossier as dossier_status_icon %}
        <span class="fa {{ dossier_status_icon }} text-{{ dossier_status_class }}"></span>
      {% elif dossier.is_active %}
        <span class="fa fa-spinner text-info" title="In behandeling"></span>
      {% elif dossier.is_withdrawn %}
        <span class="fa fa-undo text-danger" title="Ingetrokken"></span>
      {% elif dossier.passed %}
        <span class="fa fa-check text-success" title="Aangenomen"></span>
      {% else %}
        <span class="fa fa-stop-circle-o text-warning" title="Niet meer in behandling. Resultaat onduidelijk."></span>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h6><a href="{% url 'dossier-timeline' dossier.dossier_id %}">{{ dossier.title }}</a></h6>
      {% with submitters=dossier.first_voorstel.document.submitters %}
      {% if submitters %}
        <p>
          {% include "document/items/submitters_list.html" %}
        </p>
      {% endif %}
      {% endwith %}
    </div>
  </div>


  {% if dossier.voting %}
  <div class="row">
    <div class="col-md-12">
      {% with voting=dossier.voting %}
        {% include "document/items/voting_result_bar_small.html" %}
      {% endwith %}
    </div>
    <div class="vertical-spacer-15"></div>
  </div>
  {% endif %}

</div>