  <div class="col-md-6">
    <div class="panel panel-default" align="left">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-9 col-sm-5" align="left">
            <h6 class="date">{{ kamervraag.document.date_published }}{% if kamervraag.kamerantwoord %} - {{ kamervraag.kamerantwoord.document.date_published }}{% endif %}</h6>
          </div>
          <div class="hidden-xs col-sm-3" align="left">
            <h6 class="date {% if kamervraag.duration > 21 %}text-danger{% else %}text-success{% endif %}" title="{% if kamervraag.duration > 21 %}Kamervragen dienen binnen 3 weken beantwoord te worden.{% else %}Deze kamervragen is binnen de termijn van 3 weken beantwoord.{% endif %}">{{ kamervraag.duration }} dagen</h6>
          </div>
          <div class="col-xs-3 col-sm-4 pull-right" align="right">
            {% if kamervraag.mededelingen %}
              <i class="fa fa-clock-o text-primary" title="Uitgesteld"></i>
            {% endif %}
            {% if kamervraag.kamerantwoord %}
              <i class="fa fa-check text-success" title="Beantwoord"></i>
            {% else %}
              <i class="fa fa-spinner text-primary" title="Nog niet beantwoord"></i>
            {% endif %}
          </div>
        </div>
      </div>

      <div id="panel-body-kamervraag" class="panel-body">
        <div class="row">
          <div class="col-sm-12" align="center">
            <h5><a href="{% url 'kamervraag' kamervraag.vraagnummer %}">{{ kamervraag.document.title_short }}</a></h5>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h6 class="small">Indiener{% if kamervraag.document.submitters|length > 1 %}s{% endif %}:
              {% with submitters=kamervraag.document.submitters %}
                {% include "document/items/submitters_list.html" %}
              {% endwith %}
            </h6>
            {% if kamervraag.kamerantwoord %}
              {% with submitters=kamervraag.kamerantwoord.document.submitters %}
                <h6 class="small">Antwoord: {% include "document/items/submitters_list.html" %}</h6>
              {% endwith %}
            {% else %}
            <h6 class="small">Ontvanger: {{ kamervraag.receiver }}</h6>
            {% endif %}
            <h6 class="small"><span class="hidden-xs">Onderwerpen:</span> {% with categories=kamervraag.document.categories.all %}{% include "document/items/category_list.html" %}{% endwith %}</h6>
          </div>
        </div>
      </div>

      {% include 'document/items/kamervraag_antwoorden_collapse.html' %}

    </div>
  </div>