{% load openkamer %}
{% load document %}

{% with kamerstuk=item.obj %}

<a class="anchor" id="{{ kamerstuk.id_full }}"></a>
{% get_kamerstuk_timeline_bg_color kamerstuk as bgclass %}
<div class="cd-timeline-img text-center {{ bgclass }}">
  {% get_kamerstuk_icon_name kamerstuk as icon_name %}
  <span style="font-size:24px;" class="fa {{ icon_name }}"></span>
</div> <!-- cd-timeline-img -->

<div class="panel panel-default cd-timeline-content">

  <div class="panel-heading panel-heading-timeline">
    <div class="row">

      <div class="col-xs-2">
      {% if kamerstuk.voting %}
        {% with voting=kamerstuk.voting %}
        <h2>{% include "document/items/voting_result_small.html" %}</h2>
        {% endwith %}
      {% endif %}
      </div>

      <div class="col-xs-8" align="center">
      {% if kamerstuk.type_short != kamerstuk.type_long %}
        <h6>{{ kamerstuk.type_short|capfirst }}</h6>
      {% else %}
        <h6><a href="{% url 'kamerstuk' kamerstuk.id_main kamerstuk.id_sub %}">{{ kamerstuk.type_long }}</a></h6>
      {% endif %}
      </div>

      <div class="hidden-xs hidden-sm col-xs-2 kamertuk-id-timeline-container">
        <a href="{% url 'kamerstuk' kamerstuk.id_main kamerstuk.id_sub %}">{{ kamerstuk.id_full }}</a>
      </div>

    </div>
  </div>

  {% if kamerstuk.type_short != kamerstuk.type_long %}
  <div class="panel-body panel-body-timeline" align="center">
    <h6><a href="{% url 'kamerstuk' kamerstuk.id_main kamerstuk.id_sub %}">{{ kamerstuk.type_long }}</a></h6>
  </div>
  {% endif %}

  {% if is_person_timeline %}
  <div class="panel-footer panel-footer-timeline" align="left">
    <h6 class="small">Dossier: <a href="{% url 'dossier-timeline' kamerstuk.document.dossier.dossier_id %}">{{ kamerstuk.document.dossier.title|truncatechars:200 }}</a></h6>
  </div>
  {% endif %}

  <div class="panel-footer panel-footer-timeline">
    {% with submitters=kamerstuk.document.submitters %}
    {% if submitters %}
      <h6 class="small">
        {% if submitters|length > 1 %}Indieners:{% else %}Indiener:{% endif %}
        {% include "document/items/submitters_list.html" %}
      </h6>
    {% endif %}
    {% endwith %}

    <h6 class="small">{% include "document/items/kamerstuk_modifications.html" %}</h6>
  </div>

    {% if kamerstuk.voting %}
    <div class="panel-footer panel-footer-timeline-vote-bar">
      {% with voting=kamerstuk.voting %}
      {% include "document/items/voting_result_bar_small.html" %}
      {% endwith %}
    </div>
    {% endif %}

    {% if item.besluit_cases %}
    <div class="panel-footer panel-footer-timeline">
      {% for case in item.besluit_cases %}
        <p>
        {% get_besluitenlijst_item_anchor case.besluit_item as item_anchor %}
        <strong>Commissie besluit</strong> - {{ case.besluit_item.besluiten_lijst.date_published }} -
        besluitenlijst <a href="{% url 'besluitenlijst' case.besluit_item.besluiten_lijst.activity_id %}#{{ item_anchor }}">{{ case.besluit_item.besluiten_lijst.activity_id }}</a><br/>
        <font class="text-info">{{ case.besluit_item.besluiten_lijst.commission }}</font><br/>
        {% for decision in case.decision_list %}
          {{ decision }}{% if not forloop.last %}<br/>{% endif %}
        {% endfor %}
        </p>
      {% endfor %}
    </div>
    {% endif %}
    <div class="visible-xs visible-sm panel-footer panel-footer-timeline">
      <h6 class="small">{{ kamerstuk.document.date_published|date:"j F Y" }}</h6>
    </div>
  <span class="hidden-xs hidden-sm cd-date"><h2>{{ kamerstuk.document.date_published|date:"j F Y" }}</h2></span>

</div> <!-- cd-timeline-content -->

{% endwith %}
