{% load openkamer %}

{% with case=item.obj %}

<div class="cd-timeline-img text-center bg-info">
  <span style="font-size:24px;" class="fa fa-gavel"></span>
</div> <!-- cd-timeline-img -->

<div class="cd-timeline-content">
  <div class="kamertuk-id-timeline-container">
    {{ case.besluit_item.besluiten_lijst.activity_id }}
  </div>
    <h2><a href="">{{ case.title }}</a></h2>
  <p>
    <strong>Commissie:</strong>  {{ case.besluit_item.besluiten_lijst.commission }}
    <br/>
    {% for decision in case.decision_list %}
      <strong>Besluit:</strong> {{ decision }}
    {% endfor %}
    {% for note in case.notes_list %}
      Noot: {{ note }}
    {% endfor %}
  </p>

  <span class="cd-date"><h2>{{ case.besluit_item.besluiten_lijst.date_published|date:"j F Y" }}</h2></span>

</div> <!-- cd-timeline-content -->

{% endwith %}
