<div class="col-md-6">
  <div class="panel panel-default" align="left">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-4" align="left">
          <h6 class="date">{{ verslag.document.date_published }}</h6>
        </div>
        <div class="col-xs-8" align="right">
          <span class="h6">
            <a href="{% url 'commissie' verslag.commissie.slug %}">{{ verslag.commissie.name_short }}</a>
          </span>
        </div>
      </div>
    </div>

    <div id="panel-body-kamervraag" class="panel-body panel-small">
      <div class="row">
        <div class="col-sm-12" align="center">
          <h5><a href="{% url 'kamerstuk' verslag.kamerstuk.id_main verslag.kamerstuk.id_sub %}">{{ verslag.document.title_short }}</a></h5>
        </div>
      </div>
    </div>

  </div>
</div>
