<div class="row">
  {% for voting in votings %}
  <div class="col-sm-4 well well-small">
    <div class="row">
      <div class="col-xs-3">
        <small>{{ voting.date|date:"Y-M-d" }}</small>
      </div>

      <div class="col-xs-6" align="center">
        <h5>{{ voting.kamerstuk.type_short }}</h5>
      </div>

      <div class="col-xs-3" align="right">
        {% include "document/items/voting_result_small.html" %}
      </div>
    </div>

    <hr class="hr hr-small"/>

    <div class="row" align="center">
      <div class="col-sm-12">
        {% if voting.kamerstuk %}
        <a href="{% url 'kamerstuk' voting.kamerstuk.id_main voting.kamerstuk.id_sub %}"><small>{{ voting.kamerstuk.type_long }}</small></a>
        {% elif voting.is_dossier_voting %}
        <a href="{% url 'dossier-timeline' voting.dossier.dossier_id %}"><small>{{ voting.dossier.title }}</small></a>
        {% else %}
        <small class="text-danger">kamerstuk ontbreekt</small>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-progress-bar">
        {% include "document/items/voting_result_bar_small.html" %}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
      </div>

      <div class="col-xs-4" align="center">
      </div>

      <div class="col-xs-4" align="right">
        <a href="{% url 'dossier-timeline' voting.dossier.dossier_id %}"><small>{{ voting.dossier.dossier_id }}</small></a><small>.{{ voting.kamerstuk.id_sub }}</small>
      </div>
    </div>

  </div>
  {% endfor %}
</div>
