<table class="table table-striped">
  <thead>
    <tr>
      <th width="100px">Datum</th>
      <th class="hidden-xs">Dossier</th>
      <th class="hidden-xs">Type</th>
      <th>Onderwerp</th>
      <th>Uitslag</th>
      <th>Verhouding</th>
    </tr>
  </thead>
<tbody>
  {% for voting in votings %}
  <tr>
    <td><small>{{ voting.date|date:"Y-M-d" }}</small></td>
    <td class="hidden-xs"><a href="{% url 'dossier-timeline' voting.dossier.dossier_id %}">{{ voting.dossier.dossier_id }}</a>{% if voting.kamerstuk %}.{{ voting.kamerstuk.id_sub }}{% endif %}</td>
    {% if voting.kamerstuk %}
    <td class="hidden-xs">{{ voting.kamerstuk.type_short }}</td>
    <td><a href="{% url 'kamerstuk' voting.kamerstuk.id_main voting.kamerstuk.id_sub %}"><small>{{ voting.kamerstuk.type_long }}</small></a></td>
    {% elif voting.is_dossier_voting %}
    <td></td>
    <td><a href="{% url 'dossier-timeline' voting.dossier.dossier_id %}"><small><strong>{{ voting.dossier.title }}</strong></small></a></td>
    {% else %}
    <td></td>
    <td><small class="text-danger">kamerstuk ontbreekt, mogelijk is het niet aanwezig op officielebekendmakingen.nl</small></td>
    {% endif %}
    <td>{% include "document/items/voting_result_small.html" %}</td>
    <td>{% include "document/items/voting_result_bar_small.html" %}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
