body { 
  padding-top: 60px; 
}

#fixed-height-drinks {
  overflow: hidden;
  height: 270px;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  float: center;
}

.party_icon {
  max-width: 50px;
  max-height: 50px;
}