html, body {
    height:100%;
}

body {
  padding-top: 70px;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  float: center;
}

.party_icon {
  max-width: 50px;
  max-height: 50px;
}